spring:
  application:
    name: sigfe-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/sigfe
    username: sigfe_user
    password: sigfe_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true
